.detailCard{
    position: relative;
    flex-direction: column;
    align-content: center;
    font-family: monospace;
    width: 410px;
    height: 100%;
    margin: 30px auto;
    background-color: hsl(147, 21%, 70%);
    border-radius: 4%;
    border: hsla(137, 24%, 72%, 0.783);
    border-style: outset;
    padding-bottom: 5px;
}

.card-img-detail {
    margin: 2px 7px;
    width: 96%;
    height: 300px;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}
.description-detail{
    padding: 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description-detail h3{
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.description-detail p{
    font-size: larger;
    margin-top: 2px;
}
.description-detail h4{
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 2px 0px;
}
 