* {
    box-sizing: border-box;
  }
.card-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    width: 250px;
    height: 100%;
    margin-inline: 50px;
    padding-bottom: 0.7rem;
    background-color: hsl(147, 21%, 70%);
    border: hsla(137, 24%, 72%, 0.783);
    border-bottom-style: outset;
    border-radius: 4%;

}
.card-img{
    height: 280px;
    width: 250px;
    border-radius: 4%;
}
.card p{
    margin-top: 2px;
}
