nav{   
    background-color:hsl(154, 15%, 49%);
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-top: 2rem;
    align-items: center;
}
h2{
    font-size: 3rem;
}
ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}
li{
    margin: 1.6rem;
    padding: 1rem;
    border-radius: 6%;
    font-size: 1rem;
    background-color: hsl(133, 100%, 98%);
}
a{
    text-decoration: none;
    color: black;
}

